spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          routes:
            - id: goal-service
              uri: http://localhost:8095
              predicates:
                - Path=/goal/**

server:
  port: 8222

eureka:
  instance:
      hostname: localhost
  client:
      service-url:
        defaultZone: http://localhost:8761/eureka
