spring:
  config:
    import: optional:configserver:http://localhost:8888
  application:
    name: workspaces
  main:
    allow-bean-definition-overriding: true

  datasource:
    url: jdbc:h2:mem:workspace;DB_CLOSE_DELAY=-1;MODE=MySQL;DATABASE_TO_LOWER=TRUE
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    com:
      twilio: DEBUG
    org:
      springframework:
              web:
                multipart: DEBUG
              apache:
              tomcat:
                util:
                  http:
                    fileupload: DEBUG
    tn.esprit.workspace_workflow: DEBUG

twilio:
  account:
    sid: ${TWILIO_ACCOUNT_SID:}
  auth:
    token: ${TWILIO_AUTH_TOKEN:}
  phone:
    number: ${TWILIO_PHONE_NUMBER:}

file:
  path: uploads

application:
  config:
    users-url: http://localhost:8080/api/users

server:
  port: 8302

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

management:
  tracing:
    sampling:
      probability: 0.0
